<form method="POST" action="{{ url_for('monster_balancer') }}">
    <div>
        <h3>Armor Class</h3>
        <input type="range" id="acSlider" min="{{ min_ac }}" max="{{ max_ac }}" value="{{ current_ac }}">
        <p>Slider Value: <span id="acSliderValue">{{ current_ac }}</span></p>
        <p>Expected CR value of current AC: <span id="crExpectedValue">{{ cr_value_for_ac }}</span></p>
        <p>Average AC for target CR: <span id="average_ac_for_cr">{{ average_ac_for_cr }}</span></p>
        <p id="acDeviationMessage"></p>
    </div>

</form>