<form method="POST" action="{{ url_for('monster_balancer') }}">
    {% for i in range(3) %}
    <div>
        <h3>{{ saves[i]|capitalize }} save: <span id="{{ saves[i] }}SliderValue">{{ current_saves[saves[i]] }}</span></h3>
        <label>
            <input type="checkbox" id="{{ saves[i] }}_is_good_save" name="{{ saves[i] }}_is_good_save"> Good save?
        </label>
        <input type="range" id="{{ saves[i] }}Slider" min="{{ min_poor_save }}" max="{{ max_poor_save }}" value="{{ current_saves[saves[i]] }}">
        <p>Expected CR for Save: <span id="expected_cr_for_{{ saves[i] }}">{{ expected_cr_for_good_save }}</span></p>
        <p>Average Save for target CR: <span id="average_save_for_cr_{{ saves[i] }}">{{ average_save_for_cr }}</span></p>
    {% endfor %}

</form>